@alias {
  fs: font-size;
  fw: font-weight;
  bg: background;
  f: foo;
}

.foo {
  fs: 16px !important;
  f: bar;
}

.foo {
  fw: 400;
  fw: 700;
  transition: bg 200ms ease !important;
}

.bar {
  fg: 16px;
  fd: 400;
  bn: #fff;
}
