.foo {
  font-size: 16px;
}

.foo {
  font-weight: 400;
  font-weight: 700;
  font-size: 20px;
  background: url('http://lorempixel.com/400/600') center center no-repeat;
}

.bar {
  fg: 16px;
  fd: 400;
  bn: #fff;
}